.float {
    cursor: zoom-in;
    cursor: -webkit-zoom-in;

    img.float {
        box-shadow: 0 0 33px rgba(33, 33, 33, 0.5);
        display: none;
        z-index: 1;
    }
    img:not(.float) {
        opacity: 1;
    }
    &:hover img:not(.float) {
        opacity: 0.9;
    }
}
