/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *
 * custom/base.scss *
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html {
  font-size: 16px;
}
body {
  background-color: #ccc;
  box-sizing: border-box;
  padding: 2em;
  position: relative;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 600;
  text-align: center;
  user-select: initial;
}
main {
  background-color: white;
  opacity: 0.1;
  position: relative;
  * {
    margin: 0;
    transform: initial;
  }
}
small {
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size: 9px;
}
