/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *
 * custom/raise.scss *
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.raise {

  .clip {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
  img.fill {
    bottom: 0;
    cursor: zoom-in;
    position: absolute;
    right: 0;
  }
  img.raise {
    border-radius: 0.5em;
    box-shadow: 3px 11px 33px rgba(66, 33, 33, 0.5);
    cursor: zoom-out;
    display: none;
    max-width: none;
    position: absolute;
    z-index: 1;
  }
  img:not(.raise) {
    opacity: 1;
  }
  &:hover img:not(.raise) {
    opacity: 0.9;
  }
  &.the-fact p {
    text-align: center;
  }
  &.the-portrait h3 {
    @extend %reddish;
  }
  &.the-photo h3 {
    @extend %reddish;
    height: 100%;
    text-align: left;
    width: 25%;

    img {
      margin: 0.5rem 0;
    }
  }
}
