head
  title World Cup
  //
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width')

  //- test for https://developers.google.com/+/web/snippet/
  //- link(rel='shortcut icon'        href='favicon.ico' type='image/x-icon')
  //- meta(name='robots'              content='noindex, nofollow')
  meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
  meta(http-equiv='Pragma'        content='no-cache')
  meta(http-equiv='Expires'       content='0')

  //- about
  meta(name='author' content='Wells Fargo')
  meta(name='description'
    content='')
  meta(name='keywords'
    content='')
  link(rel='canonical' href='https://www.wellsfargomedia.com/.../')

  //- open
  meta(property='og:title'       content='')
  meta(property='og:description' content='')
  meta(property='og:image'       content='.../images/share/og-landing.jpg')
  meta(property='og:type'        content='website')
  meta(property='og:url'         content='https://www.wellsfargomedia.com/.../')

  // css
  link(rel='stylesheet' href='./fonts/archer.ssm.css' )
  link(rel='stylesheet' href='./styles/proj.css')

  // req
  script.
    (function(l,i,s,t){s=l.pathname;t=s.toLowerCase().replace(/index/,i||'index');t=t.match
      (/\w+\.\w+$/)?t:t.replace(/\/*$/,'/index.html');if(t!==s)l.pathname=t;}(location));
  //script(src='./scripts/libs/globs.js')
  script(src='./vendors/require.js/require.min.js' data-main=`./config.js?${BUST}`)

  //
