// rankings.pug
.rankings
  div
    table
      tr
        th(title='Flag')
        th Group-A
        th(title='Matches played') P
        th(title='Wins') W
        th(title='Draws') D
        th(title='Losses') L
        th(title='Goals difference') gD
        th(title='Team points') Pts
        //
          <th title="Rank"></th>
          <th class="grouping">Group-A</th>
          <th title="Goals for">gF</th>
          <th title="Goals against">gA</th>
      tr
        th
          img.flag.small(src='./images/flags/brazil.png' alt='#')
        th
        td
        td
        td
        td
        td
        td
      tr
        th
          img.flag.small(src='./images/flags/mexico.png' alt='#')
        th
        td
        td
        td
        td
        td
        td
      tr
        th
          img.flag.small(src='./images/flags/cameroon.png' alt='#')
        th
        td
        td
        td
        td
        td
        td
      tr
        th
          img.flag.small(src='./images/flags/croatia.png' alt='#')
        th
        td
        td
        td
        td
        td
        td

  ///parts/rankings
