// shots.pug
.shotsfaced
  h4
    span.team_left #
    |  Shots
  .wrap.bottom
    .net
      img(src='./images/icons/net-fpo.png' alt='net-fpo')
    h4.nums
      |  Shots 
      span.a #
      |  On Goal 
      span.b #
      |  Goals 
      span.c #

  ///parts/shots
