// stats.pug
.possession
  h4 Ball Possession
  .donut(style='height: 150px; width: 150px; position: relative;' tabindex=0)
  .major
    h3 %

.shotsfaced
  h4
    span.team_left #
    |  Shots
  .wrap.bottom
    .net
      img(src='./images/icons/net-fpo.png' alt='net-fpo')
    h4.nums
      |  Shots 
      span.a #
      |  On Goal 
      span.b #
      |  Goals 
      span.c #

///parts/stats
