// the-timeline.pug
.the-timeline
  h4 Match Timeline

  div.bounds
    span.start 0

    .linewrap
      .time
        span 15
        span 30
        span 45
        span 60
        span 75
        span
      .events

    span.end 90

  ///parts/the-timeline
