// top.pug
.top
  img.logos(
    src='./images/icons/logos.png'
    alt='logos...Wells Fargo and Orgulloso Patrocinador'
    width='161' height='106')

  h1 Match Recap

  .bottom
    .score
      span.left
        img.flag.mid(src='#' alt='#')
      span.center #-#
      span.right
        img.flag.mid(src='#' alt='#')
    h2.teams
      span.team_left #
      span vs
      span.team_right #
    h3.ticket
      span.date #
      span |
      span.stadium #
      span |
      span.city #

  ///parts/top
