/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* _cells.scss */

%w1 { width: 240px; }
%w2 { width: 400px; }
%w3 { width: 100%;}
%h1 { height: 10em;}
%h2 { height: 13em;}
%h3 { height: 16em;}
%h4 { height: 26em;}
%red { background-color: $red; color: white; }
%cyan { background-color: $cyan; color: white; }
%black { background-color: black; color: white; }
%yellow { background-color: $yellow; }
%gray { background-color: $gray; }
%shiv { margin-right: -1em; } // prevent wrap due to chrome/ff px-rounding

.cells {
  > div {
    display: table-row;
  }
  > div > div {
    @extend %h3;
    display: table-cell;
    float: left;
    padding: 1.333rem 1rem;
    position: relative;
  }
  .bottom {
    bottom: 0;
    left: 0;
    padding: 0.8rem;
    position: absolute;
    right: 0;
  }
  .top {
    @extend %black;
    @extend %h4;
    @extend %w3;
    padding: 2rem 4rem;
  }
  .rankings {
    @extend %h1;
    @extend %w3;
  }
  .possession {
    @extend %black;
    @extend %w1;
  }
  .the-shots {
    @extend %red;
    @extend %w2;
    @extend %shiv;
  }
  .the-player {
    @extend %cyan;
    @extend %w1;
  }
  .the-photo {
    @extend %w2;
    @extend %shiv;
  }
  .the-accuracy {
    @extend %black;
    @extend %h2;
    @extend %w1;
  }
  .the-tweet {
    @extend %h2;
    @extend %w2;
    @extend %yellow;
    @extend %shiv;
  }
  .timeline {
    @extend %cyan;
    @extend %h1;
    @extend %w3;
  }
  .the-fact {
    @extend %w2;
    @extend %yellow;
  }
  .factpic {
    @extend %w1;
    @extend %shiv;
  }
}
