// @import 'compass/css3';
@import '_define/all';

$black: #121212;
$white: #fafafa;
$links: #00609c;

$litegreen: #f1f7f1;
$litebrown: #d9d9d6;

$main: 15px;
$LG: $main * 90; // max
$MD: $main * 68; // max
$SM: $main * 36; // max
$navH: $main * 2.8;
$maxW: $main * 75;
$hpad: 1.8rem;
$vpad: 1.2rem;
