.raise {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;

  img.fill {
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  img.raise {
    border-radius: 0.5em;
    box-shadow: 3px 11px 33px rgba(66, 33, 33, 0.5);
    display: none;
    z-index: 1;
  }
  img:not(.raise) {
    opacity: 1;
  }
  &:hover img:not(.raise) {
    opacity: 0.9;
  }
  &.thefact p {
    text-align: center;
  }
  &.factpic h3 {
    @extend %reddish;
  }
  &.theshot h3 {
    @extend %reddish;
    height: 100%;
    text-align: left;
    width: 25%;

    img {
      margin: 0.5rem 0;
    }
  }
}
