.timeline {
  .linewrap {
    margin: 2.5rem auto;
    position: relative;
  }
  .events {
    overflow: hidden;
    position: relative;

    table {
      border-collapse: collapse;
      font-size: 1.2rem;
      font-weight: 900;
      height: 30px;
      margin: auto;
      width: 100%;
    }
    td {
      background-color: white;
      color: $cyan;
      text-align: right;
      width: 14%;

      .debug & {
        border: 1px solid red;
      }
    }
    td:first-child, td:last-child {
      background-color: $cyan;
      color: white;
      font-size: 1.5rem;
      text-align: center;
      width: 10%;
    }
    .gap {
      width: 1rem;
    }
  }
  .trivent {
    color: $cyan;
    position: absolute;
    @include ani;

    .debug & {
      text-shadow: 0 0 3px red;
    }
  }
  .warning, .error, .mark, .goal {
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  }
  .warning, .error, .mark {
    border: 1px solid gray;
    height: 1rem;
    width: .75rem;
  }
  .mark {
    border: 1px solid lime;
    width: 1px;
  }
  .point {
    color: $cyan;
    font-size: 1rem;
    line-height: 1.2;
    height: 1rem;
    width: 1rem;

    &:before {
      content: '♦';
    }
  }
  .goal {
    background-image: url('../images/icons/ball-sm.png');
    border-radius: 1rem;
    height: 20px;
    width: 21px;
  }
}
