/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* _timeline.scss */

.timeline {
  .linewrap {
    position: relative;
    width: 100%;

    .time {
      display: flex;
      font-size: 1.2rem;
      height: 30px;
      line-height: 1.5;
      span {
        background-color: white;
        color: $cyan;
        flex-basis: 100%;
        text-align: right;
        &:first-child {
          flex-basis: 115%;
        }
        &:last-child {
          flex-basis: 90%;
        }
      }
    }
  }

  .events {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .bounds {
    display: flex;
    font-weight: 900;
    margin: 2.5rem 0;

    .start,
    .end {
      background-color: $cyan;
      color: white;
      font-size: 1.5rem;
      padding: 0 0.5em;
    }
  }

  .trivent {
    // border: 1px solid lime;
    color: $cyan;
    position: absolute;
    text-align: center;
    @include ani(2s, left);
  }
  .error,
  .goal,
  .mark,
  .warning {
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  }
  .error,
  .mark,
  .warning {
    border-radius: 1px;
    height: 1rem;
    width: 0.75rem;
  }
  .mark {
    border: 1px solid lime;
    width: 1px;
  }
  .point {
    color: $cyan;
    font-size: 1.5rem;
    line-height: 0.75;
    height: 1rem;
    width: 1rem;
    &:before {
      content: '♦';
      line-height: 0;
    }
    .msie & {
      line-height: 0.5;
    }
  }
  .goal {
    background-image: url('../images/icons/ball-sm.png');
    border-radius: 1rem;
    height: 20px;
    width: 21px;
  }
}
