* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #ccc;
  margin: 1em;
  padding: 1em;
  position: relative;
  z-index: -3;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 600;
  text-align: center;
  user-select: initial;
}
section {
  background-color: white;
  position: relative;
  z-index: -2;
}
small {
  font-family: Helvetica, Arial, Geneva, sans-serif;
  font-size: 9px;
}
@import 'defs';
@import 'accuracy';
@import 'cells';
@import 'raise';
@import 'misc';
@import 'possession';
@import 'rankings';
@import 'shotsfaced';
@import 'timeline';
@import 'top';
