/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *
 * main.scss *
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@import 'defs';
@import 'core/all';

html {
  // scss-lint:disable SpaceBeforeBrace
  @include only (sm) { font-size: $main * 1.4; }
  @include only (md) { font-size: $main * 1.2; }
  @include only (lg) { font-size: $main * 1.3; }
  @include only ()   { font-size: $main * 1.4; }
  // @include only (sm) { x: 1; } @include only (md) { x: 2; } @include only (lg) { x: 3; }
  // @include and-above (sm) { x: 1; } @include and-above (md) { x: 2; } @include and-above (lg) { x: 3; }
  // @include and-below (lg) { x: 3; } @include and-below (md) { x: 2; } @include and-below (sm) { x: 1; }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
