/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *
 * core/modal/basis.scss *
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.modal {
  align-items: center;
  background-color: rgba(33, 33, 33, 0.8);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &.active {
    // scss-lint:disable ImportantRule
    display: flex !important;
  }
  > * {
    max-height: 100%;
    max-width: 100%;
    position: relative;
  }
  > div {
    background-color: white;
    box-shadow: 0 0.5rem 3rem -0.5rem black;
    display: block;
    max-width: 960px;
  }
}
