.accuracy
  h4 Pass Accuracy
  .limit
    .minor
      h3 %
    .major
      h3 %

.thetweet
  h4 Tweet of the Match
  p #
  h5.author.bottom #

.timeline
  h4 Match Timeline
  .linewrap
    .events
      table
        tr
          td 0
          td 15
          td 30
          td 45
          td 60
          td 75
          td.gap
          td 90
