doctype html
html(lang='en').loading
  include ./parts/_head

  body

    div(data-role='page' tabindex='0')

    form
      | Select match:
      select#GameNum(size='1')

    main.cells
      .row1
        include ./parts/top
      .row2
        include ./parts/rankings
      .row3
        include ./parts/possession
        include ./parts/shots
      .row4
        include ./parts/the-player
        include ./parts/the-photo
      .row5
        include ./parts/match
        include ./parts/tweet
      .row6
        include ./parts/timeline
      .row7
        include ./parts/trivia
        include ./parts/portrait

      // end ui-page
