/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *
 * custom/tweet.scss *
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.the-tweet {
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: #500;
    }
  }
  .author {
    background-image: url('../images/icons/tweet.png');
    background-position: 90% 50%;
    background-repeat: no-repeat;
    font-weight: 900;
    margin-left: 40%;
  }
}
