/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *
 * core/general/footer.scss *
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
  background-color: gray;
  color: $white;
  font-size: 0.9em;
  line-height: 1.5;
  overflow: hidden;
  text-align: left;

  a {
    color: $white;
    margin: 0.125em;
    padding: 0 0.75em;
    text-decoration: none;
    white-space: nowrap;
    &:focus, &:hover {
      text-decoration: underline;
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      border-right: 0;
    }
  }

  .cell {
    padding: 1rem;
  }
  .gray {
    background-color: $a-d-coolgray;
    background: linear-gradient(to bottom, $a-d-coolgray 0%, #333 90%);
  }

  img.stage {
    opacity: 0.5;
    width: 20rem;

    @include only (sm) {
      float: left;
      margin: 0 -1rem;
      min-width: 150%;
    }
    @include and-above (md) {
      float: right;
    }
  }
}
